<div class="container">
  <mat-card>
    <mat-card-content>
      <form (submit)="registrar()" [formGroup]="formRegistro" class="form__registro">

        <mat-form-field appearance="outline">
          <input matInput placeholder="Nome completo" formControlName="nome">
          <mat-error *ngIf="formRegistro.get('nome')?.errors?.['required']">
            Nome é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="email" placeholder="Login" formControlName="login">
          <mat-error *ngIf="formRegistro.get('login')?.errors?.['required']">
            Login é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Senha" formControlName="senha">
          <mat-error *ngIf="formRegistro.get('senha')?.errors?.['required']">
            Senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Confirmar senha" formControlName="confirmarSenha">
          <mat-error *ngIf="formRegistro.get('confirmarSenha')?.errors?.['required']">
            Confirmação de senha é obrigatória.
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <input matInput type="date" placeholder="Data de Nascimento (dd/MM/yyy)" formControlName="dataNascimento">
          <mat-error *ngIf="formRegistro.get('dataNascimento')?.errors?.['required']">
            Data de Nscimento é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button (submit)="registrar()" color="primary"
          [disabled]="formRegistro.invalid">Registrar</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
