.container{
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/bg-car.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  width: 400px;
  height: 100vh;
  position: absolute;
  background-color: white;
}
.titulo {
  text-align: center;
}

.content>form {
  position: absolute;
  top: 30%;
  padding: 30px;
}

