<mat-card>

  <mat-card-header class="justify-between flex">
    <mat-card-title>Carros</mat-card-title>
    <mat-card-subtitle>Lista de carros</mat-card-subtitle>
    <div>
      <button mat-raised-button color="primary" (click)="newCar()">Cadastrar</button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let element"> {{element.anoDeFabricacao}} </td>
    </ng-container>

    <ng-container matColumnDef="interessados">
      <th mat-header-cell *matHeaderCellDef> Interessado </th>
      <td mat-cell *matCellDef="let element"> {{element.interessado?.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element" style="width: 200px;">
        <button mat-icon-button><mat-icon>info</mat-icon></button>
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteCarro(element)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
