<mat-card>
  <mat-card-header class="justify-between flex">
    <mat-card-title>Interesses</mat-card-title>
    <mat-card-subtitle>Lista de interesses</mat-card-subtitle>
    <div>
      <button mat-raised-button routerLink="/painel-de-carros" color="primary" *ngIf="!verificacaoUsuario()">
        Voltar ao Painel
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0; else semInteresses">

      <ng-container matColumnDef="interessado">
        <th mat-header-cell *matHeaderCellDef> Interessado </th>
        <td mat-cell *matCellDef="let element"> {{element.interessado?.login}} </td>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element, let user" style="width: 200px;">
          <button mat-icon-button (click)="openInfo(element)"><mat-icon>info</mat-icon></button>
          <button mat-icon-button color="warn" (click)="removerInteresse(element, user)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
<ng-template #semInteresses>
    <mat-card-content class="w-full flex justify-center">
      <span>Não há interesses cadastrados</span>
    </mat-card-content>
</ng-template>
