.container{
  width: 100vw;
  height: 100vh;
}

.bg {
  content: "";
  background-image: url("/assets/images/bg-car.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  position: absolute;
  left: 400px;
  top: 0;
  width: calc(100vw - 400px);
}

.content{
  width: 400px;
  height: 100vh;
  position: absolute;
  background-color: white;
}
.titulo {
  text-align: center;
}

.content>form {
  position: absolute;
  top: 30%;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .content{
    width: 100vw;
  }
}

