.container{
  width: 100vw;
  height: 100vh;
}

.content {
  background: black !important;
  padding: 12px;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.carros__card {
  width: calc(24% - 12px) !important;
}

.botao__interesse {
  background: rgb(243, 243, 243) !important;
  width: 100%;
}

@media screen and (max-width: 992px) {
    .carros__card {
      width: calc(100% - 24px) !important;
    }
}

