<div class="container">
  <div class="content">
    <form (submit)="onSubmit()" [formGroup]="authForm">
      <h1 class="titulo">Login</h1>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="authForm.get('login')?.errors?.['required'] &&
          authForm.get('username')?.touched">
          Nome de usuário é obrigatório!
        </mat-error >
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" formControlName="senha">
        <mat-error *ngIf="authForm.get('senha')?.errors?.['required'] &&
          authForm.get('senha')?.touched">
          Senha é obrigatória!
        </mat-error>
        <mat-error *ngIf="authForm.get('senha')?.errors?.['minlength'] &&
          authForm.get('senha')?.touched">
          Senha deve ter no mínimo 4 caracteres!
        </mat-error>
      </mat-form-field>
        <button mat-raised-button (click)="onSubmit()" color="primary"
          class="mt-12 w-100" [disabled]="!authForm.valid">Autenticar</button>

        <button mat-raised-button routerLink="/user/registro" color="accent"
          class="mt-12 w-100">
          Registre-se
        </button>
    </form>
  </div>
  <div class="bg"></div>s
</div>
