<mat-toolbar color="primary" class="w-100 flex justify-between">
  <span><mat-icon>directions_car</mat-icon>HireCarPlus</span>
  <div class="flex gap-1" *ngIf="!isLogged; else loggedButtons">
    <a mat-button routerLink="/user/login">Entrar</a>
    <a mat-raised-button routerLink="/user/registro" color="accent">Registrar-se</a>
  </div>
</mat-toolbar>
<div class="principal">

  <div class="cards gap-1">
    <mat-card class="carros__card" *ngFor="let carro of carros">
      <mat-card-header class="justify-between flex">
        <mat-card-title class="titulo__carro">{{carro.marca + ' '}}{{carro.modelo}}</mat-card-title>
      </mat-card-header>
      <div class="imagens">
        <img class="carros__imagens" [src]="carro.foto" alt="{{carro.modelo}}">
      </div>
      <mat-card-content>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{carro.modelo}}
            </mat-panel-title>
            <mat-panel-description>
              Descrição
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{carro.descricao}}</p>
          <mat-label>
            <b>Valor:</b> <br>
            <span class="carros__valor">R$: {{carro.valor}}</span>
          </mat-label>
        </mat-expansion-panel>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="botao__interesse" (click)="updateInteresse(carro)">Tenho Interesse</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #loggedButtons>
  <div class="flex gap-1">
    <a mat-button routerLink="/user/alterar-meu-usuario" *ngIf="!user.isAdmin">Alterar Perfil</a>
    <a mat-button routerLink="/user/meus-interesses" *ngIf="!user.isAdmin">Meus Interesses</a>
    <a mat-button routerLink="/admin/carros" *ngIf="user.isAdmin">Painel Administrativo</a>
    <a mat-raised-button routerLink="/user/login" color="accent" (click)="onLogout()">Sair</a>
  </div>
</ng-template>
